<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href={{ asset('assets/css/style.css') }}>
            <link rel="stylesheet" href={{ asset('assets/css/signin.css') }}>
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <main class="container">
            <div class="login d-flex justify-content-center align-items-center flex-column">
                <div class="welcome">
                    <h3 class="heading">Welcome To <img src={{ asset('assets/image/icons/brand-logo.png') }} alt="chirpTalk"></h3>
                </div>
                <div class="form-container d-flex align-items-center">
                    {% block form %} {% endblock %}
                    <div class="form-banner">
                        <img src={{ asset('assets/image/login_pic.jpg') }} alt="">
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
